[2021-08-23 16:45] danymat opened #2 "Python - No spaces between google doccstring fields"
At the moment, when generating docs, I can get the following:
[code]

We can see that that there is no newlines between the starting comments and Args, and between the last parameter and Returns.

I want to be able to add newlines between them.

[2021-08-24 15:26] danymat commented on #2
I close this issue as I already solved my problem with a `before_first_item` field in template, like this:

[code]

[2021-08-24 15:26] #2 closed

[2021-08-24 15:33] danymat opened #3 "Add custom cursor placement in template"
I want to be able to customize the cursor placement where I would want it to be:

If I have a template like this:
[code]

 I would want to add a cursor configuration in field 3 of the template, that could be able to insert the cursor at the annotation position I would want, for example:
- First found item in template, after the generated annotation (e.g first param field)
-  First line in generate

[2021-08-24 16:22] danymat opened #4 "Do not add offset when specified"
I would want the template to jump on a new line without adding the offset lines.

For it, I thought about this idea: when specifying nil instead of a string (in template content), it will create a blank line.

[2021-08-24 20:12] #4 closed

[2021-08-25 14:06] danymat opened #5 "Weird behavior when calling different types"
I'm getting a weird behavior (javascript for example), when I try these steps:

[code]

1. `require('neogen').generate({ type = "func" })`

[code]

2. `require('neogen').generate({ type = "class" })`

[code]

But if I try the other way around (after relaunching nvim):

1. `require('neogen').generate({ type = "class" })`

[code]

2. `require('neogen').generate({ type = "func" })`

[code]

[2021-08-27 11:29] cryptomilk opened #8 "input_after_comment doesn't work"
`input_after_comment = true` doesn't work for me.

https://github.com/danymat/neogen/blob/main/lua/neogen.lua#L59 `#data` is 0 when I generate the documentation for C. And it is already 0 at https://github.com/danymat/neogen/blob/main/lua/neogen.lua#L45

[2021-08-27 12:03] #8 closed, assigned to nobody

[2021-08-27 23:34] danymat opened #9 "Add support for multiple cursor position on same line"
At the moment I support only a single cursor position on each line. I want to be able to support as many as I want in a line.

[2021-08-28 05:33] cryptomilk commented on #8
Very nice, I tried it quickly, but doesn't work for me:

[code]

I can't find a P function in the code ...

[2021-08-28 08:26] danymat commented on #8
Ouch sorry, I let a small personal variable. Should be fixed !
I added the documentation here: https://github.com/danymat/neogen#cycle-between-annotations

[2021-08-28 08:41] danymat opened #10 "Add support for recursive find for node_type"
At the moment, the tree used to match the nodes is only composed of fixed positioning. I want to have an option to go to each children and recursively find all members that match a `node_type`.

This could add support for multiple pointers in c.

[2021-08-28 11:41] #10 closed

[2021-08-28 14:12] danymat opened #12 "Only do jumping in annotation range"
At the moment if you don’t jump all annotations and go back to your function , and you press tab it’ll go back to the annotation.

[2021-08-28 14:13] danymat opened #13 "Add support for S-TAB"

[2021-09-08 10:28] danymat commented on #12
Fix in 86456a369934af1a6554f9e52ce0bbc40c63532b

[2021-09-08 10:28] #12 closed

[2021-09-29 13:07] danymat opened #15 "Add support for automatic types in generated doc (typescript)"
At the moment I have this:
[code]

I want to have the types found with tree sitter in the annotation, like so:
[code]

I'm exposing tree-sitter to help in developing this feature

![Capture d’écran 2021-09-29 à 15 06 52](https://user-images.githubusercontent.com/5306901/135274284-d4788ec8-d035-42d2-a1ee-7f1e0eebb358.png)

[2021-10-05 17:03] monsonjeremy opened #16 "Arrow Functions Do Not Work - JS/TS"
Awesome plugin, seems way faster than `vim-doge`.

I'm not sure if it's my setup or if there actually is not support for arrow functions. I followed all the setup instructions, but nothing happens when I try it on the following

[code]

[2021-10-05 17:53] danymat commented on #16
Hello, thanks for reaching out and using this plugin! It means a lot to me

| Awesome plugin, seems way faster than vim-doge.

I'm so glad to hear it, I don't want to compete with it but I'm sure the extensibility of Neogen can help a lot for contributing purposes.

I added support for lexical declarations and arrow_functions, I will leet you try it, feel free to come back here !

[2021-10-07 12:23] danymat commented on #16
Hello @monsonjeremy, any updates ?

[2021-10-20 07:56] danymat opened #17 "Add support for java"

[2021-11-03 09:54] danymat commented on #17
Added basic support for java classes: https://github.com/danymat/neogen/commit/5a1fc5e483cf914ba25cfe23c5944fad3678be53

[2021-11-03 19:51] cryptomilk opened #18 "neogen doesn't work correctly for C"
The following example only creates parameter documentation for `bool from_cmdline`.

[code]

[2021-11-03 21:44] danymat commented on #18
Hello @cryptomilk,

I think I just fixed the error (the recursive method was not doing it's best job).
Can you check if the error persists ?

Feel free to close if it's fixed, and thank you for using the plugin and sharing the issue!

[2021-11-04 06:39] cryptomilk commented on #18
Works fine, thank you!

[2021-11-04 06:39] #18 closed

[2021-11-06 20:12] Shatur opened #19 "Add support for C++"
The plugin is currently supports C, can we enable it for C++?

[2021-11-06 20:13] Shatur opened #20 "Rust support"
It would be nice to support it.

[2021-11-08 18:23] danymat commented on #19
Hello, sure we could, but I'm not sure the tree sitter queries are the same. I'll try to look into that

[2021-11-08 18:25] danymat commented on #20
Hello, do you have any annotation standards to recommend ?
And I don't know any of rust language, so it could be awesome if you specify me some functions I can use to try generating docs from.

[2021-11-08 18:38] Shatur commented on #19
Should be partially same because C++ contains `; inherits: c` in treesitter highlighting:
https://github.com/nvim-treesitter/nvim-treesitter/blob/0e25e0e98990803e95c7851236e43b3ee934d443/queries/cpp/highlights.scm#L1

[2021-11-08 18:41] Shatur commented on #20
Oh, looks like it not needed for Rust, it generates everything automatically: https://doc.rust-lang.org/rust-by-example/meta/doc.html

I'm new to the language, sorry :)

[2021-11-08 18:41] #20 closed

[2021-11-08 18:43] danymat commented on #20
No problem, we will reopen this issue if some people ask us to do it in neogen's way 🥂

[2021-11-08 18:46] Shatur commented on #19
It works, thanks!
But some additional stuff missing, like information about templates.

[2021-11-08 18:47] danymat commented on #19
Nice, so that means we can use the c configuration language, and apply more stuff for cpp.

What do you mean ? I need some extra information, or a snippet to reproduce it

[2021-11-08 18:48] Shatur commented on #19
Quick example for testing: https://github.com/crow-translate/crow-translate/blob/400c2432e37f64e7c65b5fd87add02ce5b34a005/src/mainwindow.h#L159

Should contains `tparam`.

[2021-11-08 18:53] Shatur commented on #19
And related question. I noticed that all params generated with `[in]`. Is this expected? For example, the following function:

[code]

Generates:

[code]

But it should be:

[code]

But I think that you can't detect it with Treesitter. Could we generate it without direction annoation?

[code]

But it should be:

[code]

[2021-11-08 19:00] danymat commented on #19
Added support for variadic functions in cpp, you can try it and tell me

[2021-11-08 19:02] danymat commented on #19
About this, I don't really now, it was being worked in this PR: https://github.com/danymat/neogen/pull/14
Do you have any links I could use to know what's `[in]` and `[out]` ?

[2021-11-08 19:09] Shatur commented on #19
Thank you, It works!
But I meant to add `tparam`: https://www.doxygen.nl/manual/commands.html#cmdtparam

That is the problem. It is not always possible to tell. If you are passing something by pointer, it can be either `input` or `output`. I would suggest to remove direction specification at all. It is optional.

[2021-11-08 19:16] danymat commented on #19
I see. I think it'll be very difficult to get the information, as I would need to see if the parameter is being written to.
It's feasible, but not quite at the moment because it means adding some checks in the generator.
I will remove them, but if someone wants to create a basic fetcher for it, I'm totally okay

[2021-11-08 19:18] Shatur commented on #19
Yep, this would be the best solution for now.

[2021-11-08 19:20] Shatur commented on #19
Found another issue. If I try to generate the documentation for the following function:

https://github.com/crow-translate/crow-translate/blob/400c2432e37f64e7c65b5fd87add02ce5b34a005/src/mainwindow.h#L69

I get this:

[code]

[2021-11-08 19:24] danymat commented on #19
Is it supposed to supercharge a function ?

I get this from Treesitter:

<img width="475" alt="Capture d’écran 2021-11-08 à 20 22 19" src="https://user-images.githubusercontent.com/5306901/140804510-cd267120-27b2-4c40-8807-2ba016b206a6.png">

If it's a type by it's own, I can create a new type for this, called `template` (see https://github.com/danymat/neogen#usage for more details about types in

[2021-11-08 19:25] danymat commented on #19
What should I get instead ?

[2021-11-08 19:28] Shatur commented on #19
[code]

[2021-11-08 19:29] Shatur commented on #19
Looks like here are two separate issues.
1. Generation of empty comment `/*  */` happens if the function doesn't have any arguments.
2. If return type isn't void it should generate `@return` after all params.

[2021-11-08 19:32] danymat commented on #19
I don't think it's an issue, it's a feature:

https://github.com/danymat/neogen/blob/d04b657c88105e119475c594d11be956391bab25/lua/neogen/configurations/c.lua#L109-L117

I mean, Treesitter does not tell me there is a return in your code snippet:
<img width="401" alt="Capture d’écran 2021-11-08 à 20 31 37" src="https://user-images.githubusercontent.com/5306901/140805761-ade1875b-1b66-47b1-95d0-f00a4

[2021-11-08 19:36] Shatur commented on #19
If a declaration contains a type first, then it's a return value. Or do you think that this is a Treesitter bug?

But this probably shouldn't happen? We should always have a `@brief` even if the function doesn't have any arguments.

[2021-11-08 19:37] Shatur commented on #19
Here is an example of a function without a return type: https://github.com/crow-translate/crow-translate/blob/400c2432e37f64e7c65b5fd87add02ce5b34a005/src/mainwindow.h#L145

[2021-11-08 19:43] Shatur commented on #19
To be more clear I expecting to get the following:

[code]

Instead of

[code]

[2021-11-08 19:54] danymat commented on #19
No I think I should add this feature on my end. But I do want to check if this is written in doxygen. Can you hint me a place where they confirm this ?

[2021-11-08 19:55] danymat opened #21 "Add template type for cpp"
Is it supposed to supercharge a function ?

I get this from Treesitter:

<img width="475" alt="Capture d’écran 2021-11-08 à 20 22 19" src="https://user-images.githubusercontent.com/5306901/140804510-cd267120-27b2-4c40-8807-2ba016b206a6.png">

If it's a type by it's own, I can create a new type for this, called `template` (see https://github.com/danymat/neogen#usage for more details about types in

[2021-11-08 19:56] danymat commented on #21
Any feedback @Shatur ?

[2021-11-08 19:58] danymat commented on #19
Modified template in last commit e87b4a2

[2021-11-08 19:58] Shatur commented on #21
Yes, It's like a regular function.

[2021-11-08 20:03] Shatur commented on #19
Thanks, now looks as expected!

If a function have `void` return type, then there shouldn't be `@return`. In other case it should contains `@return`.
Here is an example: https://github.com/crow-translate/QOnlineTranslator/blob/33a53bf29a096c967b8e51ebccf70c02a94ab1c3/src/qonlinetranslator.h#L243
The documentation of this repo is validated on CI.

[2021-11-08 20:06] Shatur commented on #21
Example:

[code]

[2021-11-08 20:17] danymat commented on #21
Added option in fa472f6, can you check if it works ? Your snippet allowed me to add optional params too

[2021-11-08 20:22] Shatur commented on #21
Awesome, thanks.

But sometimes there can be variadic temlate parameters like this:

[code]

Is is possible to convert it into the following:

[code]
?

[2021-11-08 20:26] danymat commented on #21
It should be working now !
If everything good, we can close this issue

[2021-11-08 20:29] Shatur commented on #21
Works, thanks you!

I noticed that if I put my cursor to the function definition - it skips template parameters. Is this expected?

[2021-11-08 20:31] Shatur commented on #21
Also I noticed that you added templates support into `configurations/c.lua`. I think it's okay to handle C and C++ stuff using a single `configuration`. But just wanted you to know that it's only a C++ feature.

[2021-11-08 20:40] danymat commented on #21
Yes I know.
I'm using the fact that C++ contains the same and more node types than C, so that shouldn't be a problem

If you move the cursor out of the inserted region, you cannot go back and cycle to the annotations again

[2021-11-08 20:45] Shatur commented on #21
Yes, I totally agree.

Not sure If we understand each other. Let me describe it a little more. If my cursor (`|`) is here:

[code]

I have the following (`tparam` is missing):

[code]

But If I put my cursor here:

[code]

It will generate the following:

[code]

[2021-11-08 20:56] danymat commented on #21
Yes, it is normal. It'll locate the very next node from where your cursor is. That's why I was thinking in moving the template generation into it's own type, to avoid conflicts with functions

[2021-11-08 21:00] Shatur commented on #21
Then it's okay, let's left everything as is. I think we can close the issue.

[2021-11-08 21:04] danymat commented on #21
Nice, thank you

[2021-11-08 21:04] #21 closed

[2021-11-08 21:30] Shatur commented on #19
Here is an example: https://github.com/crow-translate/QOnlineTranslator/blob/33a53bf29a096c967b8e51ebccf70c02a94ab1c3/src/qonlinetranslator.h#L243
The documentation of this repo is validated on CI.

Should I close it and open another issue about `@return`?

[2021-11-08 21:31] danymat commented on #19
Yes, be sure to reference useful snippets to alleviate testing

[2021-11-08 21:38] #19 closed

[2021-11-08 21:45] Shatur opened #22 "Return types in C++"
## Issue description

Currently the plugin generates `@returns` for `return_statement`. But sometimes it doesn't work.

## Examples

No return type:

[code]

Return type present.

[code]

## Additional notes

Doxygen understands [@return](https://www.doxygen.nl/manual/commands.html#cmdreturn) and [@returns](https://www.doxygen.nl/manual/commands.html#cmdreturns). But I would suggest to go with `@r

[2021-11-08 21:53] Shatur commented on #19
Done, thanks!

[2021-11-08 22:00] Shatur opened #23 "C++: Function doesn't recognized sometimes"
## Example:

[code]

Annotation generation for `processEvent` results to nothing.

[2021-11-08 22:18] danymat commented on #23
Do you have treesitter playground installed ? If not I will not be able to analyse it until tomorrow

[2021-11-08 22:19] Shatur commented on #23
Yes. I think this is because the function is a field:

[code]

[2021-11-08 22:23] danymat commented on #23
Hmm.. what happens when you place your cursor over the function name and try to generate the functions annotation ?

[2021-11-08 22:28] Shatur commented on #23
Nothing happens.

[2021-11-08 22:30] danymat commented on #23
Try adding `field_declaration`

Here: https://github.com/danymat/neogen/blob/96a597b7c02bcc438de5beac7c0e8f42380b63c4/lua/neogen/configurations/c.lua#L94

And here: https://github.com/danymat/neogen/blob/96a597b7c02bcc438de5beac7c0e8f42380b63c4/lua/neogen/configurations/c.lua#L99

[2021-11-08 22:40] Shatur commented on #23
Worked, thanks. Opened a PR.

[2021-11-08 22:42] #23 closed

[2021-11-10 10:39] danymat commented on #22
Can you try updating the plugin and checking out ?

[2021-11-11 08:30] Shatur commented on #22
I think you get me wrong. We shouldn't have `@return` for void and should have it in all other cases.

[2021-11-11 08:31] Shatur commented on #22
Examples:

Instead of:

[code]

We should have:

[code]

[2021-11-11 08:46] danymat commented on #22
I don't quite get it:
- you don't want return when the return type is void ? (It was previously implemented though)
- what else ?

[2021-11-11 08:48] Shatur commented on #22
Yes.
But it need it for all other return types (didn't worked before).

[2021-11-11 09:01] danymat commented on #22
Okay so I just apply those changes ? https://github.com/danymat/neogen/issues/22#issuecomment-966090603

[2021-11-11 09:14] Shatur commented on #22
Yes, I think so :)

[2021-11-11 09:34] danymat commented on #22
Can you test the last changes ?

[2021-11-11 10:21] danymat commented on #17
Added functions and constructor annotations

[2021-11-11 10:21] #17 closed

[2021-11-11 13:40] Shatur commented on #22
It works, but now only for primitive types.
For example, this works as expected:

[code]

But this doesn't:

[code]

Should be like this:

[code]

[2021-11-11 16:17] flanggut opened #26 "Bug in C++ template parsing"
The current parsing of C++ template parameters has an issue. I think the current processing is looking for *any* parent node that is a `template_declaration`. However, if the function is within a class, the class itself can have a parent `template_declaration` which is then wrongfully used as the template declaration for the function.

Consider the following example:

[code]
which has a tree like

[2021-11-11 16:27] flanggut commented on #26
As an example for this header file:

[code]

And with the cursor on `bar`, I am getting documentation like this when I call `generate`:

[code]

As a side note: I think the root node might not be considered at all, so I had to create a different root with `#pragma once`.

[2021-11-13 12:49] danymat commented on #26
I don't think I understand correctly... In order for me to understand, can you do a snippet of what the current generation is doing, and what the annotation should look like ?

[2021-11-13 13:03] danymat commented on #22
Hello @Shatur, can you try the fix provided ?

[2021-11-13 13:11] flanggut commented on #26
I already did. If you take the snippet from my previous comment
[code]
and you generate annotations for the function `bar` you get two annotations, one for the function and a wrong one for the class `Foo`.

[2021-11-13 13:12] flanggut commented on #26
Specifically this is what I get
[code]
And this is what I would expect
[code]

[2021-11-13 13:17] danymat commented on #26
Oh yeah right, it's a bug indeed

[2021-11-13 13:24] Shatur commented on #22
Now everything is awesome, thank you!

[2021-11-13 13:24] #22 closed

[2021-11-13 13:33] danymat commented on #26
Hello once again, this should fix the bug that caused those multiple annotations. Can you check again ?

[2021-11-13 19:17] flanggut commented on #26
Looks great! Thanks 👍

[2021-11-13 19:17] #26 closed

[2021-11-17 21:36] Shatur opened #27 "Add the ability to disable jump_map binding"
Could you add the ability to disable `jump_map` binding? Useful you want to bind some custom logic like described [here](https://github.com/danymat/neogen#cycle-between-annotations).
I would suggest to remove this default mapping at all.

[2021-11-17 22:16] danymat commented on #27
Of course, this is an option to be disabled if the user wants to

I will update it tomorrow, or someone can create a PR to add this config.
Maybe something like
[code]

Of course if changing the structure of the setup we would want to keep defaults for some days, and add a vim.notify function on neogen setup (so that users can make the change)

Or we can add a new field that will not overwrite the

[2021-11-17 22:19] Shatur commented on #27
I would remove it at all for consistency with other mappings. But if you won't, then I would go with `jump_mapping = { enable = true, keybind = ... }` :)

[2021-11-18 11:43] danymat commented on #27
I just added a notify method on setup function. I will remove it tonight, and remove the `jump_map` mapping at the same time.

[2021-11-18 12:00] Shatur commented on #27
Thank you!

[2021-11-18 16:39] axyz opened #28 "support for tsx files"
not sure if I'm missing some configuration, but the plugin does not seem to work with `tsx` files (filetype=typescriptreact).

If I manually change the filetype to typescript it correctly adds an annotation.

treesitter is working correctly on both filetypes.

[2021-11-18 16:41] axyz commented on #28
I think as a starting point this line:
https://github.com/danymat/neogen/blob/main/lua/neogen.lua#L133

could be duplicated to match `typescriptreact` as well. Not sure if there may be a need for a different configuration to handle jsx syntax though.

[2021-11-18 17:18] danymat commented on #28
Hello!

Yes you can use this to add support for the language, you can use this and tell me if everything is the same

[2021-11-18 17:21] danymat commented on #28
Check out the readme, you can kinda override the default setup function and add the language

[2021-11-18 17:58] #28 closed

[2021-11-18 18:40] danymat commented on #28
Does this file use other types like vue format (that does use JavaScript and html)?

[2021-12-08 06:06] meijieru opened #30 "Auto-detect annotation types"
vim-doge doesn't need to specify the type to annotate.
Could we have similar features?

[2021-12-08 07:16] danymat commented on #30
Hello! thanks for chiming in !

Could we have similar features?

In theory we could indeed, but we need to do it well if we're about to do it.
Just for you to know, atm, in order to generate the annotations we:

- call the annotator function with a specified type
- search the first upper node that matches the type
- Generate the annotations for the node

I think it is not a problem if we only have

[2021-12-09 03:40] meijieru commented on #30
I think the current behavior is decent.

[2022-01-05 09:54] thetic opened #31 "Support file-level annotations"
ie `require('neogen').generate({type='file'})`

- https://www.doxygen.nl/manual/commands.html#cmdfile
- https://google.github.io/styleguide/pyguide.html#382-modules

[2022-01-06 10:08] hassec opened #32 "C++ template function yields doc with multiple return statements"
Simple `test.cpp` with:

[code]

results in:

[code]

It shouldn't generate the two `@return` statements.
If it helps, it seems like the number of `@return statements is connected to the amount of template parameters.
e.g.:
[code]

will yield:

[code]

`TSPlayground` of the first example:
[code]

[2022-01-07 12:45] d-miketa opened #33 "Annotating empty Python class throws an unhelpful error"
When I try to annotate an empty Python class, e.g.
[code]
I get
[code]

The function works alright on
[code]
and produces
[code]

It would be helpful if the function either
1. raised an appropriate error or
2. (preferred) just annotated the class with no attributes.

[2022-01-07 16:43] danymat commented on #33
Hello, can you try out the new commit ?

[2022-01-07 17:00] danymat commented on #32
Hello, I provided a fix for that ! Can you check it out ?

[2022-01-07 17:06] danymat commented on #31
This can be a very good idea. Do the filenames  need special convention ? (Python Modules, etc)

[2022-01-07 17:25] danymat commented on #30
Sorry for putting this feat on hold, as it was the holidays season. I'm thinking about it right now:

Do you know what's the logic behind vim-doge automatic selection ? Or better, what do you think will be the best:

- Going up in the tree until we stop on a first matching node, no matter what the type?
- Having a priority list of types, that we will loop until we stop on a matching node, i.e:
[co

[2022-01-07 17:48] thetic commented on #31
I don't know about *every* convention but here are examples. AFAICT they all place at the top of the file.

## Doxygen (C/C++)

https://www.doxygen.nl/manual/docblocks.html#docexamples

[code]

The actual filename can (and probably should) be omitted.

## Google Docstrings (Python)

- https://google.github.io/styleguide/pyguide.html#382-modules

- https://www.sphinx-doc.org/en/master/usage/extensi

[2022-01-07 18:45] danymat commented on #13
Hello everyone, I just added the ability to jump previous. You should now be able to jump back and forth as long as you are in the created annotation!

Please check out the README: https://github.com/danymat/neogen#cycle-between-annotations for how to do it !

[2022-01-07 19:16] #13 closed

[2022-01-07 20:43] meijieru commented on #30
I am not familiar with the vim-doge's logic.
Personally, I prefer the second option.
Maybe some polls may help.

[2022-01-07 22:42] thetic commented on #31
Ldoc: https://stevedonovan.github.io/ldoc/examples/four.lua.html

[2022-01-09 12:22] danymat commented on #31
Hello @thetic, I added the support for this new type, called `file`. Can you try it out ?

Currently supported:
- [x] c/cpp
- [ ] Python
- [ ] JS/TS
- [ ] Lua

[2022-01-09 12:52] danymat commented on #31
Okay there is still one bug: It will start inserting at the first line not null

[2022-01-09 13:32] danymat commented on #31
I added support for every annotation you provided. It's documented, and added in README. Can you try out ?

[2022-01-09 13:41] #32 closed

[2022-01-09 13:41] #33 closed

[2022-01-09 13:52] danymat opened #34 "Add more languages support !"
Hello, in effort to target more users and improve the plugin, I will add more languages support than those currently in place.

I use this survey to prioritize support: https://insights.stackoverflow.com/survey/2021#technology-most-popular-technologies

This is currently in TODO:

- [x] Rust (new support)
- [x] JavaScript/Typescript (add support for missing types)
- [x] Java (add support for missi

[2022-01-09 14:48] d-miketa commented on #33
Yeah works great - many thanks!! :)

[2022-01-09 15:36] meijieru commented on #31
I think it is not the case for python at least.
For example, there may be `#!/usr/bin/env python3` following by the docstring.

[2022-01-09 16:03] danymat commented on #31
@meijieru, referenced commit should do the job !

[2022-01-09 17:33] hassec commented on #32
Hi @danymat, thanks a lot for the quick action and sorry for the slow reply.

I've just pulled and tried it again.

the above example now yields:

[code]

which is better, but I guess technically there shouldn't be a `return` statement at all since it is a `void` function, right?

[2022-01-09 17:52] danymat commented on #32
@hassec, thanks for your feedback, can you try out latest commit ?

[2022-01-09 18:01] hassec commented on #32
Works great! Thanks a lot! :blush:

[2022-01-09 19:05] danymat commented on #9
Okay, after 3 months it seems to work now !

a template like this: `{ nil, "/* $1 */$1", { no_results = true, type = { "class", "func" } } },`

Will generate two cursors

[2022-01-09 19:05] #9 closed

[2022-01-09 19:47] thetic commented on #31
This is working great! Thank you!

[2022-01-09 21:46] #31 closed

[2022-01-10 15:00] danymat commented on #15
This is done in commit https://github.com/danymat/neogen/commit/7f81a39b94b2860375e59d25941c90385fd3d8c0

[2022-01-10 15:00] #15 closed

[2022-01-10 15:31] danymat opened #35 "Return to previous cursor position after last annotation cycling"

[2022-01-10 16:23] #35 closed

[2022-01-10 23:00] Shatur opened #36 "Command API"
I would suggest to add `:Generate` command with possibility to pass an argument for type, like `func`.

[2022-01-11 09:14] danymat commented on #36
It's a good idea, however I would like to extend the currently defined `:Neogen`, that generates default type, which is `func`.

The idea would be to allow:
- `:Neogen` (default type)
- `:Neogen func`
- `:Neogen class`
- etc..

But I don't know personally how to allow 0 or more parameters. 😣

[2022-01-11 09:17] Shatur commented on #36
Sounds great.

You looking for `-nargs=?` parameter. See `:h command-nargs`.

[2022-01-11 09:28] danymat commented on #36
Thanks for the tip, can you try it out ?

[2022-01-11 09:40] Shatur commented on #36
Thank you!

[2022-01-11 09:40] Shatur commented on #36
I have another suggestion. How about to add completion to this command with available arguments?

[2022-01-11 10:06] danymat commented on #36
Really good suggestions ! It should work right now.

I'm thinking of providing the custom list for available types in a filetype.
For example, Lua accepts `type, class, func, fie`, cpp accepts `func, file` (at the moment).
What do you think ? I'm worried it will disturb users

[2022-01-11 10:17] Shatur commented on #36
Sounds like a good idea!

[2022-01-11 10:31] danymat commented on #36
What do you think ? Can you try it out ?

[2022-01-11 10:41] Shatur commented on #36
Awesome! Maybe disable completion if the current filetype is not supported? And throw `vim.notify` about it.

[2022-01-11 12:31] Shatur commented on #36
Some other suggestions:
* You don't need to use `vim.tbl_keys`, just return the list as is, it should work.
* Could you add a third argument to `vim.notify` with `{title = "Neogen"}`? It allows filter messages and display it nicely with other plugins. I usually use [a helper function](https://github.com/Shatur/neovim-cmake/blob/6a0c8b353175289daf1de2d8226d99180563d10e/lua/cmake/utils.lua#L15) with

[2022-01-11 12:36] danymat commented on #36
Nice, will do the same

[2022-01-11 12:44] danymat opened #37 "Better display of Support Languages"
I want to change this table already present here: https://github.com/danymat/neogen#supported-languages

<img width="856" alt="Capture d’écran 2022-01-11 à 13 44 08" src="https://user-images.githubusercontent.com/5306901/148944775-4301db3a-6fb9-4804-b421-063360deb6ad.png">

With a table more minimalist and pleasant for the eyes.

If you have any ideas, feel free to feedback.

[2022-01-11 12:45] danymat commented on #36
Is it okay ?

[2022-01-11 12:48] Shatur commented on #36
Awesome, thank you a lot!

[2022-01-11 12:48] #36 closed

[2022-01-11 12:54] danymat commented on #36
No problem, I too will use this a lot ! By the way, can you take a look at #37 when you have some time ? I need some feedback for displaying supported conventions

[2022-01-11 12:59] Shatur commented on #37
The current table looks nice to me, I wouldn't change anything.
But you could be interested in nested tables. You can achieve it by putting html-table inside a markdown table cell.

[2022-01-11 14:12] levouh opened #38 "Exception on load from `opt`"
Exception as follows:

[code]

introduced with `a6ea2c171853e207bb73a4e6fb07c9e4a02c2a6b`.

---

Configuration

[code]

[2022-01-11 14:14] danymat commented on #38
Hello, thanks for submitting the bug.
What version on nvim are you using ? `nvim --version`

[2022-01-11 14:14] levouh commented on #38
I updated the original report.

[2022-01-11 14:24] danymat commented on #38
Can you try with provided fix ?

[2022-01-11 14:26] levouh commented on #38
The script-local (`s:`) function definition still needs to be removed as far as I'm aware. Still throwing the exception.

[2022-01-11 14:27] danymat commented on #38
Right, done

[2022-01-12 09:05] danymat opened #40 "cursor jumpable if jumping before annotation"
[code]

If my cursor is on `test`, and I generate the annotations, and if I jump until the previous cursor position, I can still jump back to the annotations. (try with python)

[2022-01-23 07:34] meijieru opened #41 "python `google_docstring` broken"
For the following code
[code]

Currently generating
[code]

It misses the `Args:` line before `directory`.

[2022-01-23 11:05] danymat commented on #41
Hello, this seems to be fixed, can you try it ?

[2022-01-23 11:21] danymat commented on #41
There are still some inconsistencies, I'm trying to fix them

[2022-01-23 11:50] danymat commented on #41
Python should be okay now

[2022-01-25 15:33] FollieHiyuki opened #43 "lua configuration: function annotation doesn't work for all cases"
`:Neogen func` currently only works in this case for me
[code]

I added `function_declaration` to the list in https://github.com/danymat/neogen/blob/main/lua/neogen/configurations/lua.lua and make theses work
[code]

The last case is `a = function(b,c) end` also doesn't work. The node for it is `function_definition` but in the configuration file it is limited to 'local' type only. Is this intentio

[2022-01-25 20:14] danymat commented on #43
Hello, thanks for providing such input ! nvim-treesitter recently updated the Lua parser, so it broke the Lua annotations. I tried to fix the missing portages between the versions, but it seems that I missed some :laughing

[2022-01-25 20:15] danymat commented on #37
Updated with #42

[2022-01-25 20:15] #37 closed

[2022-01-26 06:04] FollieHiyuki commented on #43
I pulled the commit. Function annotation is working correctly now.

Thanks for the quick fix. Closing.

[2022-01-26 06:04] #43 closed

[2022-01-28 23:08] zeitchef opened #44 "Support for Vue Single-File Components"
I'd love to have support for generating docs inside Vue single-file components. Thanks for your consideration!

[2022-01-29 00:03] danymat commented on #44
Hello ! I think that already possible, as vue is basically a mix between HTML and Js
Can you try out ?
If it does not work, can you provide me a simple vue file I could work on ?

[2022-01-29 07:13] aurelg commented on #41
Using a03cbd1 here, same issue. What would you need for me to help? :-)

[2022-01-29 09:59] #41 closed

[2022-01-29 09:59] danymat commented on #41
Hello @aurelg, can yo try again ? I think I fixed it !

[2022-01-29 10:02] aurelg commented on #41
Many thanks, `Args:` is back where it should be!

[code]

BTW, shouldn't `Returns:` be here as well? :thinking:

[2022-01-29 10:03] danymat commented on #41
No, from the standards, Returns should only be here if there's a return type inside the function.

[2022-01-29 10:08] danymat commented on #41
Hmm, it can, and should be relatively easy to do.
By the way, supporting type hints in return types can be a little problematic, when we have multiple returns in the function:
[code]

What would be the generated annotation for it ?

[2022-01-29 10:27] danymat commented on #44
Hello, I just added support for vue with 71a92a7d, can you try it out ?

[2022-01-29 11:09] axieax commented on #34
As one of the users potentially migrating from [vim-doge](https://github.com/kkoomen/vim-doge), it would be awesome to see support for some of the popular languages supported there but not here, such as Bash, Groovy and Ruby. I haven't tested this, but does the JavaScript support work for Typescript, JavaScript-React and TypeScript-React as well?

[2022-01-29 11:16] danymat opened #46 "(py) Add support for reST template"
- https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html

[2022-01-29 11:20] danymat commented on #34
Hello !

You right, I will add support for these 3 new languages (that reminds me of a reddit post that needs ruby support with [YARDOC](https://yardoc.org/index.html) convention)

Typescript is already implemented, as well as Javascript. JSX and TSX should work with these annotation conventions, I should just link them to their respective main languages (JS and TS).

[2022-01-29 11:30] danymat opened #47 "[typescript] Add support for TSdoc"
- Link: https://tsdoc.org

[2022-01-29 11:46] danymat commented on #34
Added support for it with latest commit

[2022-01-29 11:48] #44 closed

[2022-01-29 12:42] #46 closed

[2022-01-29 12:53] aurelg commented on #41
Good point.

My guess would be to stick to the type hint annotation in the function signature, i.e. `int`, because:
- the function signature is already the source of truth for function parameters, and
- inferring the types of `hello` and `good_bye`, as well as their consistency with type hints both in the function signature or within its body, usually fall under the responsibility of a dedicated t

[2022-01-29 13:33] axieax commented on #34
Thanks!! I've just had a play around with both plugins and I've got to say I prefer vim-doge atm, mainly because of the more verbose templating that it provides (please see below for some examples). Thanks for the quick reply and changes tho :)

## Some Examples

- JS

![image](https://user-images.githubusercontent.com/62098008/151662720-5384eb82-0762-4aef-8c11-0380ddba007d.png)

- TS

![image](ht

[2022-01-29 13:41] ur4ltz opened #48 "Update vim help!"
Update vim help.

[2022-01-29 13:42] equalis3r commented on #46
Hi @danymat Thanks again for this awesome plugin and your kindness in adding features. The features work with the case when one does not use typehint. However, when typehint is used:
[code]
This is the docstring generated. As you can see, it parses the typehint as the name of the type instead of the actual type. What is expected is:
[code]
For `google_docstrings` and `numpydoc`, the typehint is co

[2022-01-29 13:46] danymat commented on #48
Hello, what do you mean ?

[2022-01-29 13:48] danymat commented on #34
I also wanted to support that, but I don"t really know how to do it properly. I wanted to use ext marks, as it allows me to write things without modifying the buffer. But I have to wait until we have anti conceal support.

I think that vim-doge does write the [TEXT] inside the buffer though. If it's not a problem, maybe I can consider adding it

[2022-01-29 13:49] ur4ltz commented on #48
synchronization with README.md

[2022-01-29 13:50] danymat commented on #46
Right, small mistake lol, sorry. I'm thinking it right now

[2022-01-29 13:52] danymat commented on #46
@equalis3r, can you try again ?

[2022-01-29 13:55] danymat commented on #48
Oh, the vim help file is custom generated from the code, and will provide detailed informations, more than the README.
I prefer the readme to be only about exposing features and simple setup, and the vim help to be a more detailed help, with help for people who want to customize Neogen a bit more.

By the way, the Neogen help file is auto generated with mini.doc, and it allows to be very precise i

[2022-01-29 13:56] equalis3r commented on #41
I agree with @aurelg The typehint in the function signature is the contract and mypy/pyright will detect if programmer violates such contract. Let's say `hello`'s type is `int` and `good_byte` type is `str`. To not be yelled at by `mypy`, my return in the function signature needs to be: `Union[int, str]` or with python3.10 and above, `int | str`. As long as the plugin parses the function signature

[2022-01-29 13:58] equalis3r commented on #46
@danymat It works flawlessly now. Many thanks to you.

[2022-01-29 14:00] axieax commented on #34
Oo I haven't heard about ext marks before but that seems promising. Alternatively, virtual text can perhaps be used to indicate what to put on each line.

Yeah vim-doge does write to the buffer. In most cases, navigating to the next [BLOCK] selects the whole thing and allows you to instantly change it. Although, sometimes it cannot be selected so I have to manually remove it with 'ca]'.

[2022-01-29 14:00] danymat commented on #41
I mean, it's possible, it's just that I don't know what is the desired output.
Can you guys provide me the desired annotation of the example function ?

[2022-01-29 14:02] danymat commented on #34
And are you okay with this way of doing this ?

Virt texts and ext marks are not useful at the moment, until anti conceal is implemented sadly :'( so we would have to fallback to a "dirtier" process.

If writing to the buffer is okay for you, I can take a look at this when I have time

[2022-01-29 14:10] axieax commented on #34
Fair enough ahaha, writing to the buffer sounds good for now and would be a much appreciated feature! :)
Thanks!!

[2022-01-29 14:10] equalis3r commented on #41
Here is an example that I can think of. Hope it can help.

- Function with only 1 return

[code]

- Function with multiple returns

[code]

[2022-01-29 14:16] danymat opened #49 "Show cursor TODO instead of nothing"
The idea is basically to show a description for where we want to jump.
Ideally, this should be done with anti conceal (https://github.com/neovim/neovim/pull/9496), but as it's progressing too slowly, we'll have to write to the buffer for the moment.

_Originally posted by @axieax in https://github.com/danymat/neogen/issues/34#issuecomment-1024912939

[2022-01-29 14:18] danymat commented on #41
So the signature hint should override the return statements in the code (if any) ?

[2022-01-29 15:48] #48 closed

[2022-01-29 15:52] quantum-booty opened #51 "bug: python return annotations"
[code]

```return config_str.strip()``` should be anonymous, and the self should not be a parameter, as it is a method.
This is what I expect:

[code]

[2022-01-29 16:53] aurelg commented on #41
I'd say so, yes :-)

[2022-01-29 18:12] danymat commented on #51
Related: https://github.com/danymat/neogen/issues/41#issuecomment-1024919318

[2022-01-29 18:14] danymat commented on #51
I think I just added support for type hints, and fixed the bug at the same time
Can you try it out ?

[2022-01-29 18:44] quantum-booty commented on #51
Thanks a lot @danymat!
This is what I'm getting, I think ```self``` should not be a parameter, and ```str``` should have a colon: ```str:```
[code]

[2022-01-29 18:46] quantum-booty commented on #51
I think the point about ```self``` should also apply to classmethods
[code]
I expect that cls should not be a parameter.

[2022-01-29 18:50] quantum-booty commented on #51
Also I think ```-> None``` should not generate a return type, because that is the default value thats being returned by a function.
So rather than this:
[code]

I don't expect it to generate a doc for None returns, so nothing:
[code]

[2022-01-29 18:56] danymat commented on #51
- `None` should now be hidden
- reference to self is now removed

[2022-01-29 18:57] danymat commented on #51
This seems to be a little bit difficult to do, I don't think I will do it tonight

[2022-01-29 23:04] sdahdah opened #52 "Tabs inserted in numpydoc docstring"
PEP8 recommends using spaces[^1], however tabs are inserted when generating docstrings. For example,

[code]

Is it possible to detect the indentation style from the file or add a configuration option to use spaces here?

(As a side-note, I don't know why three return values were generated when there's only one)

[^1]: https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces

[2022-01-30 04:16] meijieru commented on #41
Currently, it directly says `Language python not supported` lol.

[2022-01-30 10:04] danymat commented on #41
Hmm can you try closing neovim and going again on the file ? If it does not work, press `:e`

[2022-01-30 10:14] danymat commented on #52
Hello, I think that's the best way to go indeed ! It should be very simple and you even can do it ! I will pinpoint the places where there are tabs
I will try to fix them as soon as I can, but if you're quicker, it's cool

[2022-01-30 10:16] danymat commented on #52
https://github.com/danymat/neogen/blob/0d381d03d2bb3b3e661b79a8e16549ce9484e13d/lua/neogen/configurations/python.lua#L252-L302

[2022-01-30 13:06] ouuan opened #53 "Allow generation for types after cursor"
For example, if the cursor is at the beginning of a line starts with some whitespace:

[code]

I'll need to move the cursor to `int` or further to call `Neogen`.

An inline forward search may solve this problem.

[2022-01-30 13:20] danymat commented on #53
Hello ! This is tricky, because Neogen currently generates when you are "inside" (that means, inside any subnode of desired content.)
If we allow this behavior, what happens if this `int foo();` is already inside something else (for example a function) ? Will we call the annotations for the function or the type ?

Maybe Neogen could process itself 2 times:
- First time: locate next upper node that

[2022-01-30 13:23] danymat commented on #52
Hello, can you try again ? There should be now spaces instead of tabs

[2022-01-30 13:42] danymat commented on #51
Hello, I think that commit https://github.com/danymat/neogen/commit/d46c438cf5b65a02fca4b873f24f8731eb6f1c54 did provide a very great handling of such `self`, `cls`cases. Can you take a look and try again ?

[2022-01-30 13:47] danymat commented on #53
This is a good idea, but could be a "breaking" change, because it can modify some process in someone's workflow.
It's a very good idea, after consideration.

[2022-01-30 13:57] danymat commented on #40
Seems to be resolved somehow lol

[2022-01-30 13:57] #40 closed

[2022-01-30 14:04] ouuan commented on #53
I just realized that mapping to `$<cmd>Neogen<cr>` works for me. It may not work in some other use cases, though.

[2022-01-30 14:24] danymat commented on #53
I will put this idea on hold, asking for more feedback on users. I feel like this is a too much important change to do, without asking for more input

[2022-01-30 14:29] JanValiska opened #55 "cpp: struct not treathed as class"
In c++ language the `struct` is basically `class` with all members marked as public by default.

But neogen doesn't annotate `struct` as class.

Treesitter parse structs as `struct_specifier` but neogen annotates only `class_specifier` nodes as classes.
For c++ languages neogen should threat also `struct_specifier` nodes as classes.

Sorry for my cryptic english but I suppose you got a point here

[2022-01-30 14:36] danymat commented on #55
Hello ! can you try again with latest commit ?

[2022-01-30 14:39] zeitchef commented on #44
Sorry for my late reply, after the update I can confirm this is working for me in Vue SFC. Many thanks!

[2022-01-30 15:00] quantum-booty commented on #51
[code]
Thanks @danymat I think that did fix the self and cls cases.
I think I've found another bug, some how its generating return int and str types.

[2022-01-30 15:05] danymat commented on #51
Last commit should fix it, a single line that did this lol. Is everything ok ?

[2022-01-30 15:13] quantum-booty commented on #51
nice xD good work!

[2022-01-30 15:13] #51 closed

[2022-01-30 16:30] meijieru commented on #41
Problem solved on latest commit, thanks!

[2022-01-30 17:49] sdahdah commented on #52
It works great now, thanks for getting to that so quickly!

[2022-01-30 17:53] #52 closed

[2022-01-30 19:47] JanValiska commented on #55
Works! Thank you!

[2022-01-30 20:53] #55 closed

[2022-01-31 12:03] Perry3D opened #57 "Change cpp doxygen style"
Hi,

is there a way to configure Neogen to use the triple dash style instead of c-style comments?
Currently the doxygen looks like this:
[code]
My company code style is like this:
[code]

Thank you for this great plugin!

[2022-01-31 20:44] ranebrown opened #59 "Python file docstring after imports"
Using numpydoc and `require("neogen").generate({ type = "file" })` the docstring is placed after the imports instead of at the top of the file. Seems related to having the comment line in this example:

[code]

[2022-02-01 11:35] danymat commented on #57
Hello ! I'm currently in the process of refactoring the codebase to expose more easily the annotation standards, and providing better docs for it !
But now, you can take a look Neogen works in c:

https://github.com/danymat/neogen/blob/7b9157dad084f31873fe6bf85b091a7549f189ad/lua/neogen/configurations/c.lua#L175-L189

This is the template responsible for generating Doxygen in C. You can see that e

[2022-02-01 12:19] Perry3D commented on #57
Thank you very much for the detailed answer. Works fine for me.
Except one copy paste thing: you set the template for lua instead of c or cpp.

[code]

[2022-02-01 12:41] danymat commented on #57
Oh yeah right, fixed

[2022-02-01 12:41] #57 closed

[2022-02-01 13:36] xiyaowong opened #60 "python: `typed_default_parameter` not generated"
![neogen](https://user-images.githubusercontent.com/47070852/151977928-0ae18fb2-38bb-495a-b36c-47689bbb2c5a.gif)

using default configuration

[2022-02-01 14:06] danymat commented on #60
Thanks for the feedback, can you try again ?

[2022-02-01 14:17] danymat commented on #59
Hello, I just provided a fix for it, can you try it out ?

[2022-02-01 14:33] xiyaowong commented on #60
It's working fine now. But the order of the generated code is different from the original one, can this be fixed?

[code]

[2022-02-01 14:38] ranebrown commented on #59
Seems to be working correctly now. Thanks!

[2022-02-01 14:45] danymat commented on #60
This unfortunately cannot be fixed, because when we query tree-sitter nodes, we query them by type 😞

[2022-02-01 14:45] #60 closed

[2022-02-01 14:56] xiyaowong commented on #60
maybe handle the node postion

[2022-02-01 17:00] kevinhwang91 opened #61 "Refactoring codebase"
It sounds harsh, but I like the idea of this plugin. If you don't mind, I will make a PR with help.

[2022-02-01 17:07] danymat commented on #61
No, the code is a little bit messy lol (I did not have a good understanding of Lua at the time)
I think the code that is messy is really inside the granulator and generator, so maybe we could start from there.
I'm currently improving the templates part, and providing some docs and API for it.

Feel free to open a PR, and let me know what do you plan to refactor ;)
Thanks for your contribution !

[2022-02-01 17:16] kevinhwang91 commented on #61
I'm looking `cursor.lua`, just using a singleton table for the positions is enough. Using extmarks is overkilled, less stable, and has more side-effects for Neovim.

[2022-02-01 17:58] danymat commented on #61
Sure, thanks for your contribution ! 💯

[2022-02-01 18:09] kevinhwang91 commented on #61
Are you using extmarks because you want to support inserting a new line for the comments?

[2022-02-01 18:13] danymat commented on #61
What do you mean exactly ?

[2022-02-01 18:18] kevinhwang91 commented on #61
Once the template is generated, the positions are computed that are immutable, but the position of extmarks are mutable.

`:h extmarks`

in the buffer. They can represent cursors, folds, misspelled words, anything
that needs to track a logical location in the buffer over time.

[2022-02-01 18:19] danymat commented on #61
Oh yeah, I use extmarks because we can jump between annotation types even after we create some annotation and modify the lines

[2022-02-01 19:28] danymat commented on #61
No problem, take your time, feel free to ping me if you need anything

[2022-02-02 21:07] CRAG666 opened #62 "c# not work"
A few days ago I could use it with C# but after updating it doesn't work it tells me that "Language cs not supported."

[2022-02-02 22:40] danymat commented on #62
Hmm, weird
It should have said csharp instead..
Can you go on a csharp file and print `:lua print(vim.no.filetype)` ?

[2022-02-02 23:00] danymat commented on #62
Hello, indeed the new Neogen internals require the filename to be exactly the result of filetype, can you try it out ?

[2022-02-03 12:49] kevinhwang91 commented on #61
Why https://github.com/danymat/neogen/blob/271260c2d805e0912939450d9b781043a72d59cb/lua/neogen/generators/default.lua#L96 may be a function type? I can't find and grep any information about this.

[2022-02-03 14:34] danymat commented on #61
Yes, during initial development it was assumed we could pass templates as functions, but I guess we'll not use them anymore. Even the granulator and generator, I'm not really found of creating your own.
Maybe we could simplify the process by making granulator and generator a default one, and only make templates and locators modifiable.
Because right now, the generator is used everywhere and with s

[2022-02-03 14:40] kevinhwang91 commented on #61
Thanks, refactor is going to be done, WIP in my local repo.

[2022-02-03 23:48] mcauley-penney opened #63 "functions inside of table receive improper doc placement"
It appears that, when attempting to use Neogen on a function inside of a table in Lua, the function documentation is placed above the table itself

![neogen_issue](https://user-images.githubusercontent.com/59481467/152448260-9dda5ed0-55e9-406f-8ed5-6c8131122687.gif)

[2022-02-04 08:21] danymat commented on #63
Hello, indeed this use case was not supported. Can you try it out ?

[2022-02-04 15:35] mcauley-penney commented on #63
Sure, I'll try it out 👍🏻 I'll try and familiarize myself with the source code today

[2022-02-04 15:36] #63 closed

[2022-02-04 17:27] ObserverOfTime commented on #34
Can you also add [Kdoc](https://kotlinlang.org/docs/kotlin-doc.html) for Kotlin? It's similar to javadoc.

[2022-02-08 09:25] danymat commented on #34
Added to the list !

[2022-02-08 14:49] #61 closed

[2022-02-10 02:36] smackesey opened #65 "Neogen sync/update [feature request]"
Sometimes the source material for a generated annotation might be changed after the annotation has been generated. In these cases, it would be very useful to have a command (`neogen.sync()`?) to update an existing annotation. For example:

[code]

Run `neogen.generate()`:

[code]

But now suppose I add type annotations so the top line reads:

[code]

Then the hypothetical `neogen.sync()` would do

[2022-02-10 08:38] danymat commented on #65
what about just re-doing Neogen command and it does it automatically ? So no need of a sync function?

[2022-02-10 08:44] danymat commented on #65
Hmm it seems difficult to implement, as how we could retrieve easily the annotation and see if it has been changed

Do you have any ideas ? Maybe with some regex

[2022-02-10 10:27] theairbend3r opened #66 "Error while using custom options"
Hey, I'm getting the following error when trying to use neogen.

[code]

I'm not sure if it's a bug or an issue with my config.

[2022-02-10 10:29] danymat commented on #66
Hello, can I see your neogen config ?
Did you called the `setup()` function ?

[2022-02-10 10:32] theairbend3r commented on #66
Here's my neogen config-

[code]

[2022-02-10 11:01] kevinhwang91 commented on #66
@danymat Have you reproduced this issue?

[2022-02-10 11:22] kevinhwang91 commented on #66
Please try https://github.com/kevinhwang91/neogen/commit/a7818f7f2f0b54ccf76a019f39f0133fefab8cad

[2022-02-10 11:34] metalelf0 opened #68 "Commit #e176773 broke ruby support"
Hi, first of all - thanks a lot for your amazing project!

I noted that after the commit above ruby support has been broken. I bisected the bug down to that specific commit; before, it was working, when pulling that commit however I get "Language ruby is not supported".

Not doing anything fancy when setting it up, just this: `use {'danymat/neogen', config = function() require('neogen').setup { en

[2022-02-10 14:44] danymat commented on #68
Hello ! Indeed, I forgot to change the module name, so the configuration was failing. After merging the PR, it should be good to go

[2022-02-10 14:51] #68 closed

[2022-02-10 14:58] metalelf0 commented on #68
Hey @danymat , yes, I can confirm it's working right now.

Thanks! :)

[2022-02-11 05:16] theairbend3r commented on #66
Hey, it is working now! One small issue in the python docstring tho. It adds a string "binary_operator" in the `Returns` part of the docstring when there's no annotation. Is that by design?

[code]

It works properly when the function has an annotation for return type.

[code]

I've also noticed while testing this out the `*args, **kwargs` don't show up. See [def module_level_function(param1, para

[2022-02-11 05:28] theairbend3r opened #69 "[Feature request] Calling neogen twice should overwrite the exising docstring"
The current behaviour is to add the docstring twice:

[code]
Overwriting the previous docstring would be more intuitive imo.

For example, if I change my function annotation and want to regenerate the docstrings, I'd rather have it overwrite the existing docstring instead of writing a new one below it.

What do you think?

[2022-02-11 05:30] theairbend3r commented on #69
Discussion in #65.

[2022-02-11 05:30] #69 closed

[2022-02-11 09:43] danymat commented on #66
Hello, you can reference your two problems in a new issue !
I am closing this issue as it seems resolved

[2022-02-11 09:43] #66 closed

[2022-02-11 11:06] danymat opened #70 "[ruby] Add support for TomDoc"
- https://tom.preston-werner.com/2010/05/11/tomdoc-reasonable-ruby-documentation.html
- http://tomdoc.org

[2022-02-11 11:08] danymat commented on #65
You mean creating a grammar for annotations ? That could work indeed, but as of right now, we don't have any.

[2022-02-11 15:29] theairbend3r opened #71 "Python docstring formatting"
Hi, Neogen adds a string "binary_operator" in the `Returns` part of the docstring when there's no annotation. I think it shouldn't add anything if a return type annotation is not specified.

### Issue 1

[code]

It works properly when the function has an annotation for return type.

[code]

### Issue 2

I've also noticed that `*args, **kwargs` don't show up.

The current behaviour is:
[code]

For

[2022-02-12 10:01] danymat commented on #49
For reference: https://github.com/L3MON4D3/LuaSnip/issues/290

This issue basically exposes the logic of visual selection in insert mode + a luasnip example for creating a snippet in particular position in file.

[2022-02-22 20:11] danymat commented on #71
Hello !

So you think that we should remove the automatic detection of a `return` statement, and only look for type annotation ? What about python versions `< python3` where type hints are not featured?
In the meantime, I fixed the issue 1 in 11c8ca4.

I added support for these in last commit: 3ac1e14

Can you try those changes ?

[2022-02-23 08:42] #34 closed

[2022-02-23 09:23] theairbend3r commented on #71
I just meant that the string 'binary_operator' shouldn't be added if there's no type annotation. Sorry for the confusing wording. Automatic detection of `return` statement is actually a very useful feature! :smile:

I can confirm both issues are solved in the latest version!

[2022-02-23 09:23] #71 closed

[2022-02-23 21:10] max397574 commented on #65
you could retrieve the old annotation, create the new one, compare the "fields", see where values are set, set the im the new annotation -> profit :)

[2022-02-24 21:12] danymat commented on #53
Hello, after giving more though on this, I find that this is not optimal, and thus for multiple reasons:

- The user should have a predictable guess of what annotation will be generated. As mentioned here: https://github.com/danymat/neogen/issues/53#issuecomment-1025142084, this will be very unpredictable, even if I want to come up with the solution I proposed.
- This feature will add a complexity

[2022-02-24 21:12] #53 closed

[2022-02-24 21:14] danymat commented on #65
the problem is: how do you know something is the old annotation ? That's why having a parser for annotations could be a huge benefit, but I don't think it's something easily feasible

[2022-02-24 21:17] max397574 commented on #65
you just get the comment about the function and check if it's kinda like the annotations format e.g. `---`in lua

[2022-02-24 21:17] danymat commented on #30
This will have the same complexity (mostly) as this issue (point 2): https://github.com/danymat/neogen/issues/53#issuecomment-1050269103

I will try to keep this open for a while, in case someone wants to comment

[2022-02-24 21:21] danymat commented on #65
Even though, this check is not sufficient, take a look:

[code]

If we allow this type of behavior, this will mean that everything on top of the function, that has `---` will be deleted and replaced with new annotation. I don't think this is a good idea, because the user should be expected to clearly know the result of the command before typing it out.

[2022-02-24 21:26] max397574 commented on #65
hmmm

[2022-02-24 21:29] danymat commented on #65
One way to handle this, would be to keep I formation about created annotation (with marks)
But that would mean that exiting neovim will lose the informations

[2022-02-26 12:57] #47 closed

[2022-03-03 13:04] danymat commented on #30
@meijieru I recommend following and testing #74

[2022-03-05 13:28] danymat commented on #70
Closed in [2.5.0](https://github.com/danymat/neogen/tree/2.5.0)

[2022-03-05 13:28] #70 closed

[2022-03-08 17:07] ObserverOfTime opened #78 "Kotlin (KDoc) not working properly"
Class docs aren't being generated (unless explicitly specified) and function docs only output the params.

### Expected output

`…` denotes the tabstops.

[code]

The [`@constructor`][constructor] and [`@receiver`][receiver] tags are not necessary and can be skipped.

[constructor]: https://kotlinlang.org/docs/kotlin-doc.html#constructor
[receiver]: https://kotlinlang.org/docs/kotlin-doc.html#rece

[2022-03-08 19:15] danymat commented on #78
This behavior is normal, see Readme (Neogen will by default trigger Neogen func). You can check https://github.com/danymat/neogen/pull/74 about a way to find automatically the best upper node.

Apart from this, I'll fix these issues

[2022-03-08 19:27] danymat commented on #78
@ObserverOfTime is a function with no return type valid ? like this:

[code]

[2022-03-08 21:23] ObserverOfTime commented on #78
Basically, you only want to skip the `@return` tag on a block function with no explicit return type.

[code]

In truth, the logic can get much more complicated, but this is generally fine.

[2022-03-08 22:02] danymat commented on #78
Right, I will try to come up with a solution.

This seems more difficult than it seems, because you can see here:

![Capture d’écran 2022-03-08 à 23 01 03](https://user-images.githubusercontent.com/5306901/157332984-c5fd7aa6-7ad7-41ce-b5f4-b960e4988894.png)

Generate these nodes:

![Capture d’écran 2022-03-08 à 23 01 13](https://user-images.githubusercontent.com/5306901/157333006-eda4ff6a-9d15

[2022-03-09 08:36] ObserverOfTime commented on #78
Kotlin's tree-sitter parser is mediocre at best (still better than its language server).
For extension functions, the first `user_type` is in fact the `@receiver`.

You could just not bother with any of the logic and always output `@return`.
At least until the parser is improved and is actually usable.

[2022-03-09 09:02] danymat commented on #78
Hello, can you try the changes ?

[2022-03-09 09:11] ObserverOfTime commented on #78
Only thing missing now is type parameters.

[code]

[2022-03-09 10:05] danymat commented on #78
Should be supported now

[2022-03-09 10:07] ObserverOfTime commented on #78
Thanks. :+1:

[2022-03-09 10:07] #78 closed

[2022-03-10 10:06] ObserverOfTime opened #79 "TypeScript docs duplicate `@returns`"
Functions and methods with generic return types get two `@returns` tags.
This issue is present in both the TSDoc and JSDoc generators.

### Expected output

[code]

### Actual output

[code]

[2022-03-10 16:24] NTBBloodbath opened #80 "Feature request: support C typedef"
Hey dany, I've found that C `typedef` aren't supported by neogen yet and it would be awesome to have support for them.

Here is an example of the TreeSitter node for `typedef`s and also doxygen docs about how should `typedef` documentation look.

![imagen](https://user-images.githubusercontent.com/36456999/157708095-a0654a81-c98a-4f1c-9fdf-58705efa6c92.png)

- [Doxygen Manual | typedef](https://ww

[2022-03-11 09:22] danymat commented on #79
Hello, it seems to be fixed. Can you try it ?

[2022-03-11 09:39] danymat commented on #80
Hello ! can you try it out ? Just type `:Neogen type` inside the node.

For example, this is what is created:

[code]

[2022-03-11 11:52] ObserverOfTime commented on #79
The duplication was fixed but the `@template` tag is still missing.
[code]

[2022-03-11 12:24] danymat commented on #79
Right, did not look into that

[2022-03-11 12:32] danymat commented on #79
Can you try again ?

[2022-03-11 12:36] ObserverOfTime commented on #79
Works great, thanks!

[2022-03-11 12:36] #79 closed

[2022-03-11 13:44] NTBBloodbath commented on #80
Hi, just tried it out and works like a charm. Thank you so much! :)

[2022-03-11 13:44] #80 closed

[2022-03-13 15:05] #49 closed

[2022-03-14 17:12] cdkini opened #82 "`invalid_key: end_row` error whenever running `Neogen`"
Whenever I run `Neogen`, I hit the following error:

[code]

I'm still able to generate the annotation after the error arises. I'm using Packer and setting up with:
[code]

Really love the work you've done here!

Version: [2.6.0](https://github.com/danymat/neogen/releases/tag/2.6.0)
OS: MacOS Monterey 12.2.1

[2022-03-14 18:24] danymat commented on #82
Hello !

Thanks, it means a lot to me !

By the way, which neovim version are you in ? We support `neovim 0.6+` only

[2022-03-14 18:29] cdkini commented on #82
Oops forgot to include that!

I'm running `NVIM v0.7.0-dev+2135-gd3585e0ec` (based on `nvim --version`)

[2022-03-14 18:32] danymat commented on #82
Hmm, I cannot reproduce the issue, are you sure it's not related to packer compile ? Can you try deleting `packer_compiled.lua` file, and re-run `:PackerCompile` ?

[2022-03-14 18:34] danymat commented on #82
If you still have the issue afterwards, can you provide me a simple function where Neogen fails, as well as your neogen mappings ?

[2022-03-14 21:29] cdkini commented on #82
I tried deleting `packer_compiled.lua` and re-compiling but no luck!

I'm trying some lazy-loading (inspired by NvChad) so that might be causing an issue. I originally only loaded Neogen after `:Neogen` was called but changing that didn't seem to do the trick.

Here's my installation file: https://github.com/cdkini/nvim/blob/lua/lua/plugins/init.lua#L242-L247
Here are my relevant mappings: https:/

[2022-03-14 21:40] danymat commented on #82
This is weird in fact, I will keep this issue open if someone has the same error.
It seems like it's a packer issue, because if it was only Neogen error you shouldn't have Packer log there.

Maybe try unsetting lazy loading here, and recompile again.
One last thing, is the issue still here is you set `tag = "2.5.0"` ?

[2022-03-14 22:06] cdkini commented on #82
Hmm I tried to remove lazy loading but it hasn't helped. I just tried setting the tag a minor version back and that also didn't work.

For some additional context, I've tried this on both TypeScript and Python LSP's so I think we can rule that out. I'll keep digging!

[2022-03-19 12:56] danymat commented on #82
Did you recompile after removing lazy loading ?

By the way, be sure to add `requires = "nvim-treesitter/nvim-treesitter"` in your neogen packer config

[2022-03-22 10:16] hassec commented on #82
FWIW, I see the same error:
![image](https://user-images.githubusercontent.com/11351671/159458217-3c426ab5-f486-480b-8292-78466bdfa3d9.png)

super simple file:
[code]
cursor on `tmp` and trigger neogen leads to the error above.

[2022-03-22 10:28] hassec commented on #82
Ok writing that I was using `0.6.0` actually surprised me and I double checke my other machine and that was running `0.6.1` and didn't  see this error. So I've just upgraded the `0.6.0` nvim that was seeing the error to `0.6.1` and now the error is gone :tada:

I know that doesn't really help that much towards fixing it, but might be a good enough way to fix it for any `0.6.0` user reading this.

[2022-03-23 12:51] dhruvmanila opened #83 "[Feature Request] Ability to specify annotation convention for `neogen.generate`"
I don't know if this is possible right now as I can't seem to find any relevant documentation in the README or Vim docs.

I want to have two keymaps for multiple annotation convention. For example, in Python, we have multiple conventions which can be used and a default one can be specified in the setup function. There are projects which uses `numpydoc` and others which uses `google_docstring`, so

[2022-03-23 12:56] danymat commented on #83
Hello ! Thanks for providing your feedback !

I think that this is a good idea, and I previously though about this.
We can manage to create an option `neogen.generate` function by passing a table for your language, like so:

[code]

What do you think ?

[2022-03-23 13:11] danymat commented on #82
This is really weird indeed. I'm afraid this issue is neovim related. Let's keep it open to see if other people report this behavior

[2022-03-23 13:12] danymat commented on #82
@cdkini Can you update to latest neovim version and see if you still have the error ?

[2022-03-23 13:31] cdkini commented on #82
Oops completely forgot about this sorry @danymat! I did try to recompile after lazy loading but it did not work.

I upgraded with Homebrew to this version just now: `NVIM v0.7.0-dev+2777-g52fe8eae0`.

That seems to have done the trick!

[2022-03-23 13:34] dhruvmanila commented on #83
Yeah, that looks good 👍

[2022-03-23 13:42] danymat commented on #82
Nice ! Closing this issue and will update readme to allow only 0.6.1+

[2022-03-23 13:53] #82 closed

[2022-03-30 18:53] jeffschwartz opened #85 "Incorrect template generation for JavaScript functions."
When generating the template for the following function that takes a single parameter of type object:

[code]

neogen produces the following:

[code]

For the above function, Treesitter playground reports the following:

[code]

When generating the template for the following function that takes a single parameter with no enclosing "(" and ")":

[code]

neogen produces the following:

[code]

For t

[2022-04-04 08:25] danymat commented on #85
Hello, thanks for the input, i will try to fix that asap

[2022-04-05 08:28] asmodeus812 opened #87 "Auto resolve annotation type"
Hi, great plugin that has little to be desired. One question though, and maybe I am probably missing something, but i don't seem to understand why when not specifying arguments to neogen generate will automatically fallback to func instead of trying to guess the current node the cursor is on. For example when i am on a class or a field or a function. As it is now users are required to have multipl

[2022-04-05 11:53] danymat commented on #87
Hello ! Thanks for your feedback !

I think you are proposing something like: #74 is it ?

Another suggestion, file type scope, either deduced automatically or manually, it would be great if you could generate comments for all symbols in the current file (that are supported for the specific language)
And one more, visual selection - selecting multiple symbols (say functions inside a class) for exa

[2022-04-05 14:06] asmodeus812 commented on #87
@danymat Hi, yes, this is the same idea. I see that there is a PR for it already, did not see that earlier, sorry for the duplicate.
As for the visual select, i myself see it as a natural extension to what already exists i.e bringing the ability to document multiple symbols instead of doing it one by one.
The most common case when documenting is to want to document most, usually all public api met

[2022-04-06 08:00] danymat commented on #87
I prefer having a command called 'Neogen all_file' (or smt like that) to do on file scope. But the problem is that Neogen is not written with this idea in mind, and i guess it'll be very complicated to find every relevant node

[2022-04-22 05:01] denstiny opened #88 "The upstream deprecate ts_utils.get_node_text"
[#2833](https://github.com/nvim-treesitter/nvim-treesitter/pull/2833)
[location](https://github.com/danymat/neogen/blob/f249a70ee598bdf8d015c10536c0dcd97c79b3aa/lua/neogen/utilities/extractors.lua#L17)

[2022-04-22 09:52] danymat commented on #88
The issue you pointed is basically: revert deprecation. So we should be good

[2022-04-22 17:16] denstiny commented on #88
[this](https://github.com/nvim-treesitter/nvim-treesitter/commit/44b7c8100269161e20d585f24bce322f6dcdf8d2#diff-73d8fd4bc707f46576768511e62a4a2ddc0bb32f1e676b4b208e9d61e193d8acL10)
Although it can work, the upstream carried warning
[code]

[2022-04-27 09:09] MikaelElkiaer commented on #62
There seems to be another problem related to this.

I get the following error with the latest version:
[code]

So it correctly finds a configuration based on the `cs` filetype. But it directly uses that to look up the TreeSitter parser - which is called `c_sharp`.
Perhaps something has changed with `vim.treesitter.get_parser` as used here: https://github.com/danymat/neogen/blob/f249a70ee598bdf8d01

[2022-04-27 12:18] danymat commented on #62
Hello, can you try again with latest commit ? [32adfde](https://github.com/danymat/neogen/commit/32adfde9b0fe65cd8084ec943a191ee641e7fd4b)

[2022-04-27 13:14] MikaelElkiaer commented on #62
I did try renaming myself, but it only moved the problem, as it then cannot match the filetype with a neogen configuration:
[code]

So, nvim filetype is `cs`, while treesitter parser filetype is `c_sharp`.

It works if I keep the keep the file named `lua/neogen/configurations/cs.lua` and then do a simple mapping before getting the parser:
[code]

I do wonder how this worked earlier. Perhaps `vim.t

[2022-04-27 18:18] MikaelElkiaer commented on #62
I'm using the patch locally for now, so no rush. I might do a PR if I can come up with a bit more generic way of handling the mapping from filetype to treesitters parser name.

[2022-04-28 09:49] MikaelElkiaer commented on #62
@danymat I found out how to do the mapping and added a PR #89.

[2022-04-29 03:15] jemag commented on #88
It is still being deprecated. I think what was reverted was a wrapper that made `ts_utils.get_node_text` silently call `vim.treesitter.query.get_node_text` behind the scenes. Both functions are not exactly the same, so they reverted that wrapper.

My understanding is that people/plugins should still move to `vim.treesitter.query.get_node_text`

[2022-04-29 17:12] denstiny commented on #88
In favor of

[2022-05-01 13:50] AlxHnr opened #90 "Add options for languages with multiple comment types"
Neogen generates C++ comments like these:

[code]

But certain C++ projects mandate this style:

[code]
It would be great if this behavior would be configurable. Here are two possible solutions:
1. Parse `commentstring`, which is used by various comment plugins and by vim itself. This leads to a more consistent experience
2. Provide different templates

[2022-05-02 17:59] fgheng commented on #88
I meet the same question
![image](https://user-images.githubusercontent.com/50551377/166300000-ad3ca9dd-a633-4260-8f88-ce5082c5c1de.png)

[2022-05-04 12:07] danymat commented on #90
Hello, we can create a new template for this, should be really easy to do so

[2022-05-04 12:09] #62 closed

[2022-05-05 00:02] dwoznicki opened #91 "Docstring for javadoc does not include exception names"
For javadoc docstrings, there is only one throws line generated and it does not include the exception names.

### Current behavior
Here's a sample function + generated docstring.
[code]

### Expected behavior
This isn't wrong, but it could be better. Typically, javadoc docstrings have [one line per exception thrown](http://www.javapractices.com/topic/TopicAction.do?Id=171).

Generating the followi

[2022-05-05 08:01] danymat commented on #85
Hello, can you provide me the desired outputs for the code snippets you shared ?

[2022-05-05 08:24] danymat commented on #90
Hello, I don't quite get what you're expecting. Do you want to provide multiple options for languages, or add a new template to C++ ?

Because the former is already in place, and you can provide multiple templates for a single language (check Readme). If you wanna create a new template, you can see `:h neogen-annotation`

[2022-05-05 16:17] AlxHnr commented on #90
Providing more templates for each variation would be too much effort. It would be better to parse `commentstring` and add a few extra settings to distinguish between `/// @brief ...`, `//! @brief` and so on. I'm not sure what the most common styles are, but they should be configurable.

[2022-05-05 16:25] danymat commented on #90
Really, it is not ! The capability is already there, and we should just create a new template for it.

But for the variations you pointed here, as they are not custom annotations, I think the best is to create your own annotation convention on the fly and add it to your setup.

[2022-05-05 17:22] dwoznicki commented on #91
Works as expected on branch `throws-statement-java`. Nice!

[2022-05-05 17:46] AlxHnr commented on #90
You are right. I just saw in the docs that I can just create custom annotation setups in my init.lua for C++.

But would it make sense to extend the default C++ template to consider `commentstring`? Many other plugins use this setting to decide which comment style to use. E.g. [vim-commentary](https://github.com/tpope/vim-commentary) or [nvim-ts-context-commentstring](https://github.com/JoosepAlvi

[2022-05-06 14:36] krishnakumarg1984 commented on #88
I get the same error when running `:Neogen`
![image](https://user-images.githubusercontent.com/15239509/167154861-c6db89db-49dd-4427-907d-a144c91e48e5.png)

[2022-05-07 03:25] jeffschwartz commented on #85
Yes I can. Please give me a day or two to provide them to you here.

[2022-05-07 10:50] denstiny commented on #88
Did you solve?

[2022-05-07 14:34] jeffschwartz commented on #85
The following snippets are what I would recommend for the examples that I originally provided and which I duplicated below. Please let me know if there is anything else that I can do to assist you:

[code]

[2022-05-07 17:52] krishnakumarg1984 commented on #88
No. Same warning message still.

[2022-05-07 18:22] denstiny commented on #88
https://github.com/nvim-treesitter/nvim-treesitter/commit/44b7c8100269161e20d585f24bce322f6dcdf8d2#r73108137

[2022-05-15 14:22] krishnakumarg1984 commented on #88
Works now

[2022-05-18 13:19] sputnick1124 commented on #65
For reference, it seems like this is possible with bare `luasnip` (at least for the active session, exiting neovim still poses a problem). [`LuaSnip`'s `README`](https://github.com/L3MON4D3/LuaSnip) shows a GIF of this working, but the [source code for the demo](https://github.com/L3MON4D3/LuaSnip/blob/master/Examples/snippets.lua#L60-L141) even admits that it is ugly and fragile. I'm not sure wha

[2022-05-19 16:13] ranebrown commented on #88
Can this be done?
[code]

[2022-05-22 13:28] askfiy commented on #88
some

[2022-05-26 11:20] #90 closed

[2022-06-04 14:29] DeadlySquad13 opened #95 "Crashes if the custom template is used"
Hi!
I've just installed this package. Everything works nicely until I try to change template settings.

**Expected**:
Normally functioning reST docstrings in python.

**Actually**:
[code]

**Configuration**:
neovim version (output of `nvim --version`):
[code]

plugins.lua (part regarding neogen):
[code]

config/neogen/init.lua:
[code]

**My small investigation**:
- Tried to change to stable versio

[2022-06-12 10:14] danymat commented on #88
Hello, can you people try last PR ? If everything is okay, I merge to main

[2022-06-12 10:20] danymat commented on #95
Hello, I hope you're doing okay !

I tried to reproduce your issue by putting:

[code]

And everything works on my end.

Can you try again ? I'm not sure where is the bug here.
To help me reproduce:

- Do not forget to PackerCompile again
- Add a minimal python file where the bug happens

[2022-06-12 13:16] jemag commented on #88
@danymat works for me.

[2022-06-13 06:33] #88 closed

[2022-06-15 01:27] lmburns opened #99 "Issue with Lua documentation"
Before the commit `f5fbf313`, the following Lua function would have this documentation generated with the emmylua annotation convention:

[code]

After that commit, the same function has this documentation:

[code]

Is there something else that I need to do to have the documentation generated as it was before?

[2022-06-15 08:37] #99 closed

[2022-06-15 09:16] #83 closed

[2022-06-15 21:06] danymat commented on #91
It should be on main by now !

[2022-06-15 21:06] #91 closed

[2022-06-17 12:14] badrbouslikhin opened #100 "Annotating a Python class doesn't produce anything"
Hello,

When I try to annotate any Python class, nothing happens (not even an error). It works fine with methods though.
Using `:Neogen` on the following code (with the cursor anywhere on the first line) produces nothing:
[code]

I expected:
[code]

Any ideas?

[2022-06-18 13:08] DeadlySquad13 commented on #95
Hello,
Thanks for the attention to my issue! I tried your config: everything worked properly. I tried again with my config file - I have tested two annotations just to be sure (reST and numpydoc) - it was fine too. The issue can probably be closed.

Regarding reproduce:
- I was testing it on multiple python files from my personal projects, can't make it minimal as I don't have bug now.
- I do Pack

[2022-06-19 15:28] oeyoews opened #101 "Why three dash for lua docgen"
![image](https://user-images.githubusercontent.com/72405338/174488504-368b88ae-2685-4d60-9315-c6bd72b3a001.png)

When use this command `Neogen file` to generate annotation, I alway get this warning,

Why not this

[code]

[2022-06-20 08:24] danymat commented on #101
Hello, by default Neogen uses emmylua annotations for lua. From your screenshot, I see that the required annotation is luadoc.

You can specify ldoc as your default lua annotation (see https://github.com/danymat/neogen#configuration)

[2022-06-20 08:24] #101 closed

[2022-06-20 08:24] danymat commented on #100
Hello, this is weird. Can you share your neogen config ?

[2022-06-20 08:26] danymat commented on #95
Thank you for the detailed investigation. I will take a look to see if there are remanent bugs. Cheers !

[2022-06-20 08:26] #95 closed

[2022-06-23 19:42] danymat commented on #100
From what I see, `ft` does indeed prevent annotations. You can try to remove it and just keep `event` as your main lazy loading method.

[2022-06-23 19:45] #100 closed

[2022-06-28 17:50] jeffschwartz commented on #85
I am closing this out due to inactivity on this issue. I would recommend that if you are looking for a JSDoc template generator  you should look elsewhere.

[2022-06-28 17:50] #85 closed

[2022-07-01 08:52] xavier-balesi opened #102 "second Placeholders set as description"
HI,
Thank you for the plugin.

it has a bad behaviour with python/reST/function. The first param placeholder is OK but the following are set to description :
[code]
my neogen config:
[code]

[2022-07-01 12:28] danymat commented on #102
Hello, this seems to be a limitation in the generator.lua set of functions. My guess for future bug fix will be to support numbered placeholders in snippet natively ($1, $2)

[2022-07-16 03:42] dharuag opened #103 "Rajin dharua"

[2022-07-16 03:42] dharuag commented on #103
New account   project   look  four   here mre sll saver minds more   gld   agency look  four  saver  minds  more  tool  kyes

[2022-07-16 03:46] #103 closed

[2022-07-19 08:38] mendelyv opened #104 "How to custom tsdoc"
I`m very appreciate you share this plugin, it help me so much.
But there some configure about js/ts is not conform to my custom.
This is my configure:
[code]
I want to know why parameters in tsdoc not work,plugin can`t analyze my function then generated:
[code]
I am so sorry I can\`t understand you code because I\`ve been using vim for a short time.So I hope to get you help.THINKS!!!!!

[2022-07-22 03:14] hawkinchina opened #105 "please add supporting dart language..."
please add supporting dart language...

[2022-07-30 13:02] spareslant commented on #100
I got the following error message while trying to annotate python class
`
E5108: Error executing lua .../0.7.2_1/share/nvim/runtime/lua/vim/treesitter/query.lua:185: attempt to index local 'node' (a nil value)
stack traceback:
        .../0.7.2_1/share/nvim/runtime/lua/vim/treesitter/query.lua:185: in function 'get_node_text'
        ...ack/packer/start/neogen/lua/neogen/utilities/helpers.lua:32:

[2022-08-01 06:11] mendelyv commented on #104
I am so sorry for the delay in replying...QAQ
I was described unclearly,the md text about 'func' is an example to show you plugin generate result when I configured plugin.My configuration make it can`t analyze function parameters to annotation.
What I`m confused about javascript can generate parameters in annotation,typescript can`t in same configuration.
I just want to annotation has a blank line

[2022-08-03 16:06] sseneca opened #106 "reST Python docstrings: Requesting a new option to disable types, and for Neogen to add info about exceptions"
I'm using reST docstrings for Python and then generating documentation via Sphinx.

Say I have this function:

[code]

Calling Neogen (configured to use reST) gives me this:

[code]

First, since I'm already using type hints as defined in [PEP 484](https://peps.python.org/pep-0484/), I use [sphinx-autodoc-typehints](https://github.com/tox-dev/sphinx-autodoc-typehints) which means I can write docst

[2022-09-03 05:17] #104 closed

[2022-09-08 13:00] mosmuell commented on #100
@danymat I think this issue shouldn't be closed. I also get the same error @spareslant mentioned and @badrbouslikhin himself wrote that removing `ft` doesn't fix it. Is there a way around it or even a fix that wasn't mentioned here?

[2022-09-09 07:29] mauricekraus commented on #100
I also get this issue, I additionally tried changing the snippet engine to luasnip.
[code]

Same error message.

[2022-09-13 21:41] SingularisArt opened #107 "Can't create documentation for a python class"
When I run `:Neogen class` on a python class, I get the following error:

[code]

Here's my neogen configuration:

[code]

[2022-09-14 01:18] sirutBuasai opened #108 "Luasnip breaks indentation annotation in python"
When specifying `snippet_engine = "luasnip"`, the annotation is not indented. I have not tested this in other languages but is currently broken in python.

With `snippet_engine = "luasnip"`
<img width="416" alt="Screen Shot 2022-09-13 at 21 16 21" src="https://user-images.githubusercontent.com/73297481/190037081-122b30c0-8e64-4092-85b5-93cab553c14a.png">

With `snippet_engine = nil`
<img width="33

[2022-09-14 23:07] h0adp0re commented on #108
Can confirm the same for JavaScript.

[2022-09-16 17:37] ffiiddeelliittyy commented on #108
I'm encountering the same issue as Sirut in Python.

[2022-09-19 21:59] danymat commented on #108
Hello everyone, i had to get a loong time of because of moving out and starting a new work. I will look into the issue very soon, and i will write a message if I need more user input ❤️

[2022-09-19 22:00] danymat commented on #108
Concerning your issue, it seems that luasnip did some breaking change. WIll look closely

[2022-09-19 22:00] danymat commented on #107
Hello ! : https://github.com/danymat/neogen/issues/108#issuecomment-1251607617

Feels like the TS parser for python has been updated, i will look into it

[2022-09-20 20:56] yriveiro commented on #108
I also hit this issue. This is my config

[code]

[2022-09-22 05:02] Elkiders99 commented on #108
Hi! found this issue with python.

Took the liberty of finding which LuaSnip commit introduced the issue:
c4f7e797376c8e3ab6f848bd6bc5d33019fea5e1

Hope this helps!

[2022-09-22 05:50] Elkiders99 commented on #108
Opened #110 to fix this!

[2022-09-22 08:26] #108 closed

[2022-09-22 08:27] danymat commented on #108
Hello, the fix was provided and is now on main, thanks @Elkiders99 !
You can all update the app, or put a "2.8.1" tag to your plugin manager.

[2022-09-29 17:34] peytondmurray opened #111 "Unexpected indents in tsdoc"
Hey all, I'm trying to generate documentation for the following typescript:

[code]

When I generate the tsdoc with neogen, as you can see the documentation appears indented. I'm using the typescript defaults for neogen; here's the relevant part of my `init.lua`:

[code]

Anyone know what I'm doing wrong? I'd really like to have the documentation appear without indentation.

[2022-09-29 18:14] peytondmurray commented on #111
One other thing: when I type `o` in normal mode while on any of the documentation lines, `*` is inserted on the newline - but I _want_ a space to appear before `*` to match tsdoc formatting. Does anyone know how to configure this?

[2022-10-17 09:31] danymat commented on #111
Hello, thanks for the wait!

I fixed your use case, let me know if its fixed for you

[2022-10-17 09:38] danymat commented on #107
Hello, is it possible to provide me an example of class where this problem appears ?

[2022-10-17 10:17] danymat commented on #106
Hello, can you try the version 2.9.2 ? Concerning the Exception, i will take a look at that and i ping you

[2022-10-17 10:36] #106 closed

[2022-10-17 10:36] danymat commented on #106
Added support for the throw statements too

[2022-10-17 10:39] danymat commented on #105
Hello, do you have any annotation convention you would like me to support ?

[2022-10-17 10:40] danymat commented on #87
Hello, I'm getting back to coding
Is this feature still wanted ?

[2022-10-17 11:11] asmodeus812 commented on #87
Hi, upon further inspection, yes, at least the possibility to comment different types of nodes. For example as i mentioned above, when the cursor is on a class, function, struct, property etc. Also as an obvious extension to this an improvement can be added for when visual selection is active, to comment out nodes within the selection (if there are valid ones in the current visual selection)

[2022-10-17 11:11] bjornevik commented on #111
Not OP, but doesn't seem to have fixed the problem.

Running neogen @ abb619bd761ba47dc31c46a1be25f4f0abe1823c
[code]

Running neogen @ bc6b0851ec3ecedfb60bce086fcc09c52e0dfc8e
[code]

[2022-10-17 11:22] danymat commented on #111
@bjornevik can you share the treesitter screenshot of the impacted code ?
To run it: `:TSP`

[2022-10-17 11:25] bjornevik commented on #111
This?

[code]

[2022-10-20 11:34] danymat commented on #111
Hello, can you try again with tag = "2.10.1" ?

[2022-10-20 12:00] bjornevik commented on #111
Works on my machine.

![image](https://user-images.githubusercontent.com/5864000/196942535-61c77cb3-7657-44b3-8d35-aea7154c99aa.png)

[2022-10-20 14:24] danymat commented on #111
Nice, thank you for your insights

[2022-10-20 14:24] #111 closed

[2022-10-21 12:24] danymat commented on #106
Yes, i fixed uniquely the first issue.
THe process for rtype is still ungoing

[2022-10-21 13:14] danymat commented on #106
Concerning this issue, can you provide me a snippet of code that reproduces the issue and that i could test ?

[2022-10-21 14:36] danymat commented on #106
The `ouch` bypass is not that simple to bypass, in fact:

- The syntax tree of the call to a function in a raise is not the same as raising a Parameter. I'm still not sure that those two are only the allowed raises.

[2022-10-21 15:00] danymat commented on #106
Yes, none parameters are not generated

Concerning the last point, if it's really high value for you I can take a look
Or we can wait for other people to have the same need

[2022-10-23 23:51] maximyurevich commented on #107
Please fix this

[2022-10-23 23:55] danymat commented on #107
I would love to but I need more context : what's not working and a example of a snippet that for not work for you

[2022-10-24 00:48] maximyurevich commented on #107
https://imgur.com/Lje8xdj.png
everything is easy, there is no way to create docstring for python class

[2022-10-24 00:55] SingularisArt commented on #107
Yeah. I get the same error:

[code]

[2022-10-24 08:59] danymat commented on #107
Hello @maximyurevich, as i told twice before, i need more context than the error message to be able to reproduce it. If i ask this is because my local machine correctly generates the documentations, so there is something i cannot reproduce.

I need:
- example of a class that does the error when trying to generate.
- Your neogen version (`:h neogen-changelog`)

Only after this i can be able to quic

[2022-10-24 13:10] maximyurevich commented on #107
My class doesn't use constructor

[2022-10-24 13:22] SingularisArt commented on #107
Here's an example class:

[code]

My current neovim version is: `NVIM v0.8.0`.

My current neogen version is: `2.10.1`.

[2022-10-24 14:05] danymat commented on #107
@SingularisArt thank you for your input, I'm checking it out after work

[2022-10-24 14:11] SingularisArt commented on #107
@danymat Take your time.

[2022-10-25 08:20] danymat commented on #107
Hello, I just tried to generate the documentation with `:Neogen class` and it works with google docstrings:

[code]

Can you try to uninstall python parser and install it again ? I don't have a clue of what is not working on your end.
Maybe can you try providing a screen of the result of `:TSP` of the code sample you provided.

[2022-10-25 11:58] bryant-the-coder commented on #107
works for me also @danymat

[2022-10-25 19:51] SingularisArt commented on #107
@danymat I updated the tree-sitter for python, but I still get the same error, even when using `google_docstrings`.
When I run `:TSP`, I just get `E492: Not an editor command: TSP`. Am I missing a dependency or something?

[2022-10-27 21:18] SingularisArt commented on #107
@danymat Alright. I think I found the bug. When I run `Neogen class` on the following class:

[code]

I get the error from above.
**BUT** when I run the same command on the following class:

[code]

It works! Here's the output:

[code]

So, it appears that neogen runs into issues when the class has variables that aren't class variables, like `self.lecture_match`. It also runs into the same issue w

[2022-10-27 22:21] maximyurevich commented on #107
After deleting all my non-class variables from methods neogen start working

[2022-10-31 22:43] maximyurevich commented on #107
Neogen start working for classes after installing https://github.com/nvim-treesitter/nvim-tree-docs

[2022-11-02 19:21] maximyurevich commented on #107
temporary solution to use https://github.com/heavenshell/vim-pydocstring

[2022-11-02 23:09] danymat commented on #107
Hello, sorry for the delay, i had to take care of different things but haven't forgotten you
I tried to fix the bug, thanks a lot @SingularisArt for pointing out the bug, i was able to reproduce and find the root cause very quickly. Summary?: poor coding practices that were written at the beginning of neogen, which is not checking out nil values in fetching treesitter nodes data.

I hope it's now

[2022-11-03 00:44] SingularisArt commented on #107
@danymat It works for me now! Do you think you'd be able to add the methods within the class as well?

[2022-11-03 18:39] danymat commented on #107
@SingularisArt what do you mean ? Can you provide an example ?

[2022-11-03 20:53] SingularisArt commented on #107
Say we have the following class:

[code]

and when you run `Neogen class`, you get

[code]

[2022-11-03 21:01] maximyurevich commented on #107
I think its overengineering, I never seen a class docstrings describing methods

[2022-11-05 18:35] loeschg opened #113 "Neogen not working for me in Typescript"
New to this library/plugin, and I'm having trouble getting it to work with Typescript.

The following is what I'm seeing using a bare Neovim setup with packer, Treesitter (with typescript installed), and neogen. It keeps generating documentation at the top of the file.

Any suggestions for troubleshooting?

https://user-images.githubusercontent.com/766021/200135549-0eb2e332-f39c-459b-ae14-e45c9f71

[2022-11-05 22:37] jemag commented on #113
I can reproduce the problem on my side too. It has been a while since I have done Typescript, but I do believe that it used to work before.

[2022-11-06 09:39] danymat commented on #113
Hello, then it's probably an update of the parser, really possible and that's the only point that it's not possible for me to automatize
If someone has an idea to make it future proof in queries update, I would gladly take your consideration

But from this specific bug, I will take a look and update the queries from the new parser
Thanks for letting me know, I keep you updated

[2022-11-06 15:07] jemag commented on #113
I also doubt it is possible to fully make it future proof.

One possible idea would be to have GitHub workflows run on parsers update and execute specific tests verifying that the behavior of Neogen with the newly updated parsers is still proper. In case of a failing workflow you would get notified instantly.

Obviously there will still be work to be done to fix the problem, but at least that coul

[2022-11-10 19:07] danymat commented on #113
Hello, my bad and it was totally unrelated with TS, but with one of my previous fixes: #111 . I did a fallback of function classes to 0,0 if a special use case was not attained. You can see in the commit how small it is lol.

Sorry for the inconvenience and please tell me if the bug is fixed. Cheers

[2022-11-10 19:11] #113 closed

[2022-11-10 22:48] jemag commented on #113
@danymat working great so far for me. Thanks for the fix

[2022-11-15 04:56] biojerm opened #117 "Python google_docstring not behaving with optional arguments"
I am having issues where optional arguments are not behaving as expected when creating docstrings.

Scenario 1: no optional arguments

[code]
Results: args are there, but the `Args:` header is missing.  I would expect it based on the template definition.  Not the end of the world, just noticed it was different

Scenario 2:  optional argument, but no typing information.
[code]
Results:  Args in wro

[2022-11-15 21:28] danymat commented on #117
Scenario 1:

Indeed, it's a bug. I will fix it.

Scenario 2

This is actual behavior:
- Args in wrong order: the order can sometimes not be respected if the type of parameter is not the same (mixing optional and required params). I gave some ideas on how to fix this, but will require some deep thinking that i can't allow to myself on the upcoming days. I will take a look as a next enhancement.
- M

[2022-11-16 00:40] biojerm commented on #117
Yeah it is a great plug in.  I looked at how the mapping works a bit more this morning and started to wrap my head around what is happening.  My lua is a 1/10.  So the difficulty is not coming from your code 😄 .

[2022-11-17 22:34] danymat commented on #117
Nevertheless, I don't think neogen could be complicated, but indeed it's complex.

A very good documentation alongside the actual code (even more because you're starting lua) is to check the help file:
[code]
Here, you'll get the philosophy, the idea behind code structure and how to understand/customize it

[2022-11-21 09:24] danymat commented on #107
Hello, sorry for the late update.
Do you have by any means a reference to docstrings that describe this behavior ? Because, if it's on the spec, it should be indeed added eventually